%h1 About
%p This site is under construction.
%p When finished, it will be aimed at Reinforcement Learning Training.
%p Programmers want to learn about Reinforcement Learning software; this site will help.


