%h1 Links

%h2#class_links Classes
%ul
  %li MOOCs:

  %li
    %a(href='https://www.coursera.org/learn/practical-rl' target='x')
      https://www.coursera.org/learn/practical-rl

  %li
    %a(href='https://www.udemy.com/deep-reinforcement-learning-in-python/' target='x')
      https://www.udemy.com/deep-reinforcement-learning-in-python/
  
  %li
    %a(href='https://www.udacity.com/course/reinforcement-learning--ud600' target='x')
      https://www.udacity.com/course/reinforcement-learning--ud600  
  %li
    %a(href='https://www.edx.org/course/reinforcement-learning-explained-microsoft-dat257x' target='x')
      https://www.edx.org/course/reinforcement-learning-explained-microsoft-dat257x

  %li
    %a(href='https://www.coursera.org/learn/computational-neuroscience/lecture/dqF1z/8-2-reinforcement-learning-predicting-rewards' target='x')
      https://www.coursera.org/learn/computational-neuroscience/lecture/dqF1z/8-2-reinforcement-learning-predicting-rewards

  %li
    %a(href='https://www.coursera.org/learn/computational-neuroscience/lecture/ALVjz/8-3-reinforcement-learning-time-for-action' target='x')
      https://www.coursera.org/learn/computational-neuroscience/lecture/ALVjz/8-3-reinforcement-learning-time-for-action
  %li
    %a(href='https://github.com/yandexdataschool/Practical_RL  ' target='x')
      https://github.com/yandexdataschool/Practical_RL
  
  %li
    %hr/
  %li College:
  %li
    Some class material available, but not lectures:
    %br/
    Emma Brunskill, Stanford CS234
    %br/
    %a(href='http://web.stanford.edu/class/cs234/index.html' target='x')
      http://web.stanford.edu/class/cs234/index.html
  %li
    Sergey Levine, Berkeley RL course CS294:
    %br/
    %a(href='http://rll.berkeley.edu/deeprlcourse/' target='x')
      http://rll.berkeley.edu/deeprlcourse/
  %li
    David Silver [ DeepMind ]:
    %br/
    %a(href='http://www0.cs.ucl.ac.uk/staff/D.Silver/web/Teaching.html' target='x')
      http://www0.cs.ucl.ac.uk/staff/D.Silver/web/Teaching.html

  %li
    Deep Reinforcement Learning and Control
    %br/
    Spring 2017, CMU 10703, Fragkiadaki
    %br/
    %a(href='https://katefvision.github.io/' target='x')
      https://katefvision.github.io/
  
  %li
    2018, CMU 10703, Salakhutdinov
    %br/
    %a(href='http://www.cs.cmu.edu/~rsalakhu/10703/' target='x')
      http://www.cs.cmu.edu/~rsalakhu/10703/

  %li
    %a(href='https://homes.cs.washington.edu/~todorov/courses/amath579/index.html' target='x')
      https://homes.cs.washington.edu/~todorov/courses/amath579/index.html
  
  %li
    %a(href='http://www.cs.utexas.edu/~pstone/Courses/394Rfall16/' target='x')
      http://www.cs.utexas.edu/~pstone/Courses/394Rfall16/
  

%h2#online_books Online Books
%ul
  %li
    Algorithms for Reinforcement Learning, Szepesvári:
    %br/
    %a(href='http://www.ualberta.ca/~szepesva/papers/RLAlgsInMDPs.pdf' target='x')
      http://www.ualberta.ca/~szepesva/papers/RLAlgsInMDPs.pdf
  %li
    Reinforcement Learning: An Introduction, Sutton and Barto, 2nd Edition:
    %br/
    %a(href='http://incompleteideas.net/book/bookdraft2018jan1.pdf' target='x')
      http://incompleteideas.net/book/bookdraft2018jan1.pdf
  %li  
    %a(href='https://leonardoaraujosantos.gitbooks.io/artificial-inteligence/content/reinforcement_learning.html' target='x')
      https://leonardoaraujosantos.gitbooks.io/artificial-inteligence/content/reinforcement_learning.html


%h2#books Books
%ul
  %li
    %a(href='https://www.amazon.com/Reinforcement-Learning-TensorFlow-Keras-Python/dp/1484232844' target='x')
      https://www.amazon.com/Reinforcement-Learning-TensorFlow-Keras-Python/dp/1484232844
  

%h2#repos Repos
%ul
  %li
    %a(href='https://github.com/matthiasplappert/keras-rl' target='x')
      https://github.com/matthiasplappert/keras-rl
  %li
    %a(href='https://github.com/matthiasplappert/keras-rl-weights' target='x')
      https://github.com/matthiasplappert/keras-rl-weights
  %li
    %a(href='https://github.com/spragunr/deep_q_rl  ' target='x')
      https://github.com/spragunr/deep_q_rl
  %li
    %a(href='https://github.com/openai/gym' target='x')
      https://github.com/openai/gym
  %li
    %a(href='https://github.com/openai/roboschool  ' target='x')
      https://github.com/openai/roboschool
  %li
    %a(href='https://github.com/openai/baselines' target='x')
      https://github.com/openai/baselines
  %li
    %a(href='https://github.com/MorvanZhou/Reinforcement-learning-with-tensorflow' target='x')
      https://github.com/MorvanZhou/Reinforcement-learning-with-tensorflow
  %li
    %a(href='https://github.com/awjuliani/DeepRL-Agents' target='x')
      https://github.com/awjuliani/DeepRL-Agents
  %li
    %a(href='https://github.com/awjuliani/dfp' target='x')
      https://github.com/awjuliani/dfp
  %li
    %a(href='https://github.com/awjuliani/oreilly-rl-tutorial' target='x')
      https://github.com/awjuliani/oreilly-rl-tutorial
  %li
    %a(href='https://github.com/carpedm20/deep-rl-tensorflow' target='x')
      https://github.com/carpedm20/deep-rl-tensorflow
  %li
    %a(href='https://github.com/asrivat1/DeepLearningVideoGames' target='x')
      https://github.com/asrivat1/DeepLearningVideoGames
  %li
    %a(href='https://github.com/yandexdataschool/Practical_RL' target='x')
      https://github.com/yandexdataschool/Practical_RL
  %li
    %a(href='https://github.com/dennybritz/reinforcement-learning  ' target='x')
      https://github.com/dennybritz/reinforcement-learning
  %li
    %a(href='https://github.com/karpathy/reinforcejs  ' target='x')
      https://github.com/karpathy/reinforcejs
  %li
    %a(href='https://github.com/Prediction-Machines/Trading-Gym  ' target='x')
      https://github.com/Prediction-Machines/Trading-Gym
  %li
    %a(href='https://github.com/rll/rllab  ' target='x')
      https://github.com/rll/rllab
  %li
    %a(href='https://github.com/openai/universe-starter-agent  ' target='x')
      https://github.com/openai/universe-starter-agent
  
  
%h2#misc Misc
%ul
  %li
    %a(href='http://keras-rl.readthedocs.io/en/latest/agents/overview/' target='x')
      http://keras-rl.readthedocs.io/en/latest/agents/overview/
  %li
    %a(href='https://deepmind.com/blog/deep-reinforcement-learning/' target='x')
      https://deepmind.com/blog/deep-reinforcement-learning/
  %li
    %a(href='http://www.aaai.org/ocs/index.php/IJCAI/IJCAI15/paper/view/11230/10741' target='x')
      http://www.aaai.org/ocs/index.php/IJCAI/IJCAI15/paper/view/11230/10741
  %li
    %a(href='https://gym.openai.com/docs/  ' target='x')
      https://gym.openai.com/docs/
  %li
    %a(href='https://github.com/openai/gym/wiki/FAQ' target='x')
      https://github.com/openai/gym/wiki/FAQ
  %li
    %a(href='https://arxiv.org/pdf/1606.01540.pdf  ' target='x')
      https://arxiv.org/pdf/1606.01540.pdf
  %li
    %a(href='https://readthedocs.web.cern.ch/display/MTA/6.+Machine+Learning+with+Python%2C+TensorFlow+and+OpenAI' target='x')
      https://readthedocs.web.cern.ch/display/MTA/6.+Machine+Learning+with+Python%2C+TensorFlow+and+OpenAI
  %li
    %a(href='https://pythonprogramming.net/openai-cartpole-neural-network-example-machine-learning-tutorial/' target='x')
      https://pythonprogramming.net/openai-cartpole-neural-network-example-machine-learning-tutorial/
  %li
    %a(href='http://deepatari.readthedocs.io/en/latest/help/install.html' target='x')
      http://deepatari.readthedocs.io/en/latest/help/install.html
  %li
    %a(href='https://steemit.com/ai/@sykochica/build-and-train-general-ai-in-openai-gym-initial-setup' target='x')
      https://steemit.com/ai/@sykochica/build-and-train-general-ai-in-openai-gym-initial-setup
  %li
    %a(href='https://alliseesolutions.wordpress.com/2016/12/08/openai-universe-installation-guide-ubuntu-16-04/' target='x')
      https://alliseesolutions.wordpress.com/2016/12/08/openai-universe-installation-guide-ubuntu-16-04/
  %li
    %a(href='http://web.stanford.edu/class/cs20si/lectures/slides_14.pdf' target='x')
      http://web.stanford.edu/class/cs20si/lectures/slides_14.pdf
  %li
    %a(href='https://medium.com/emergent-future/simple-reinforcement-learning-with-tensorflow-part-0-q-learning-with-tables-and-neural-networks-d195264329d0' target='x')
      https://medium.com/emergent-future/simple-reinforcement-learning-with-tensorflow-part-0-q-learning-with-tables-and-neural-networks-d195264329d0
  %li
    %a(href='https://reinforce.io/blog/introduction-to-tensorforce/' target='x')
      https://reinforce.io/blog/introduction-to-tensorforce/
  %li
    %a(href='https://www.oreilly.com/ideas/reinforcement-learning-for-complex-goals-using-tensorflow' target='x')
      https://www.oreilly.com/ideas/reinforcement-learning-for-complex-goals-using-tensorflow
  %li
    %a(href='https://www.oreilly.com/learning/introduction-to-reinforcement-learning-and-openai-gym' target='x')
      https://www.oreilly.com/learning/introduction-to-reinforcement-learning-and-openai-gym
  %li
    %a(href='https://conferences.oreilly.com/artificial-intelligence/ai-ny-2017/public/schedule/detail/59390' target='x')
      https://conferences.oreilly.com/artificial-intelligence/ai-ny-2017/public/schedule/detail/59390
  %li
    %a(href='https://drive.google.com/file/d/0BxZSPcA0DrkfNG9aSjYxM1RMVzQ' target='x')
      https://drive.google.com/file/d/0BxZSPcA0DrkfNG9aSjYxM1RMVzQ
  %li  
    %a(href='https://gym.openai.com/evaluations/eval_lEi8I8v2QLqEgzBxcvRIaA/' target='x')
      https://gym.openai.com/evaluations/eval_lEi8I8v2QLqEgzBxcvRIaA/
  %li  
    %a(href='https://medium.com/@m.alzantot' target='x')
      https://medium.com/@m.alzantot
  %li  
    %a(href='https://stackoverflow.com/questions/17336069/setting-gamma-and-lambda-in-reinforcement-learning' target='x')
      https://stackoverflow.com/questions/17336069/setting-gamma-and-lambda-in-reinforcement-learning
  %li  
    %a(href='http://www.wildml.com/2016/10/learning-reinforcement-learning/' target='x')
      http://www.wildml.com/2016/10/learning-reinforcement-learning/
  %li  
    %a(href='https://becominghuman.ai/lets-build-an-atari-ai-part-1-dqn-df57e8ff3b26  ' target='x')
      https://becominghuman.ai/lets-build-an-atari-ai-part-1-dqn-df57e8ff3b26
  %li  
    %a(href='https://rubenfiszel.github.io/posts/rl4j/2016-08-24-Reinforcement-Learning-and-DQN.html  ' target='x')
      https://rubenfiszel.github.io/posts/rl4j/2016-08-24-Reinforcement-Learning-and-DQN.html
  %li  
    %a(href='https://yanpanlau.github.io/2016/07/10/FlappyBird-Keras.html  ' target='x')
      https://yanpanlau.github.io/2016/07/10/FlappyBird-Keras.html
  %li  
    %a(href='https://keon.io/deep-q-learning/' target='x')
      https://keon.io/deep-q-learning/
  %li  
    %a(href='https://web.stanford.edu/class/cs221/sections/section4.pdf  ' target='x')
      https://web.stanford.edu/class/cs221/sections/section4.pdf
  %li  
    %a(href='http://cs231n.stanford.edu/reports/2016/pdfs/116_Report.pdf  ' target='x')
      http://cs231n.stanford.edu/reports/2016/pdfs/116_Report.pdf
  %li  
    %a(href='https://github.com/DanielTakeshi/Paper_Notes/tree/master/reinforcement_learning' target='x')
      https://github.com/DanielTakeshi/Paper_Notes/tree/master/reinforcement_learning
  %li
    %a(href='https://doctorj.gitlab.io/sairen/' target='x')
      https://doctorj.gitlab.io/sairen/
  %li
    %a(href='https://github.com/kh-kim/stock_market_reinforcement_learning  ' target='x')
      https://github.com/kh-kim/stock_market_reinforcement_learning
  %li
    %a(href='https://github.com/deependersingla/deep_trader      ' target='x')
      https://github.com/deependersingla/deep_trader
  %li
    %a(href='https://github.com/hackthemarket/gym-trading  ' target='x')
      https://github.com/hackthemarket/gym-trading
  %li
    RL+StockMarket
    %a(href='https://arxiv.org/abs/1705.10993' target='x')
      https://arxiv.org/abs/1705.10993
  

  

%h2#software Software
%ul
  %li
    %a(href='https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh' target='x')
      https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh
  %li
    %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
      https://www.virtualbox.org/wiki/Downloads

%h2#communities Communities
%ul
  %li
    %a(href='https://www.reddit.com/r/berkeleydeeprlcourse' target='x')
      https://www.reddit.com/r/berkeleydeeprlcourse
  %li
    %a(href='https://gitter.im/keras-rl/Lobby  ' target='x')
      https://gitter.im/keras-rl/Lobby
  %li
    %a(href='https://groups.google.com/forum/#!forum/keras-rl-users  ' target='x')
      https://groups.google.com/forum/#!forum/keras-rl-users
  %li
    %a(href='https://discuss.openai.com/' target='x')
      https://discuss.openai.com/



%h2#videos Videos
%ul
  %li
    David Silver [ DeepMind ] Youtube videos:
    %br/
    %a(href='https://www.youtube.com/watch?v=2pWv7GOvuf0&list=PL7-jPKtc4r78-wCZcQn5IqyuWhBZ8fOxT' target='x')
      https://www.youtube.com/watch?v=2pWv7GOvuf0&list=PL7-jPKtc4r78-wCZcQn5IqyuWhBZ8fOxT
  
  %li
    Emma Brunskill Youtube videos
    %br/
    %a(href='https://www.youtube.com/watch?v=fIKkhoI1kF4' target='x')
      https://www.youtube.com/watch?v=fIKkhoI1kF4
    %br/
    %a(href='https://www.youtube.com/watch?v=8hK0NnG_DhY' target='x')
      https://www.youtube.com/watch?v=8hK0NnG_DhY
  %li
    Sergey Levine, Berkeley CS 294:
    %br/
    %a(href='https://www.youtube.com/playlist?list=PLkFD6_40KJIznC9CDbVTjAF2oyt8_VAe3' target='x')
      https://www.youtube.com/playlist?list=PLkFD6_40KJIznC9CDbVTjAF2oyt8_VAe3
    
  %li
    Hvass Laboratories:
    %br/
    %a(href='https://www.youtube.com/watch?v=Vz5l886eptw' target='x')
      https://www.youtube.com/watch?v=Vz5l886eptw
  
%h2#presos Presentations:
%ul
  %li
    %a(href='http://www0.cs.ucl.ac.uk/staff/D.Silver/web/Teaching.html' target='x')
      http://www0.cs.ucl.ac.uk/staff/D.Silver/web/Teaching.html
  %li
    %a(href='https://www.slideshare.net/BenBall6/deep-learning-in-python-with-tensorflow-for-finance  ' target='x')
      https://www.slideshare.net/BenBall6/deep-learning-in-python-with-tensorflow-for-finance


%h2#people People
%ul
  %li
    %a(href='https://www.google.com/search?q=David+Silver+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=David+Silver+Reinforcement+Learning
  %li      
    %a(href='https://www.google.com/search?q=Emma+Brunskill+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Emma+Brunskill+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Sergey+Levine+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Sergey+Levine+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Katerina+Fragkiadaki+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Katerina+Fragkiadaki+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Ruslan+Salakhutdinov+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Ruslan+Salakhutdinov+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Richard+Sutton+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Richard+Sutton+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Andrew+Barto+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Andrew+Barto+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Csaba+Szepesvári+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Csaba+Szepesvári+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Andrej+Karpathy+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Andrej+Karpathy+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Andrew+Ng+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Andrew+Ng+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Emo+Todorov+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Emo+Todorov+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Matthias+Plappert+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Matthias+Plappert+Reinforcement+Learning
      
  %li      
    %a(href='https://www.google.com/search?q=Nathan+Sprague+Reinforcement+Learning' target='x')
      https://www.google.com/search?q=Nathan+Sprague+Reinforcement+Learning
  
  %li
    %a(href='https://www.google.com/search?q=Pavel+Shvechikov' target='x')
      https://www.google.com/search?q=Pavel+Shvechikov
  %li
    %a(href='https://www.google.com/search?q=Alexander+Panin+Reinforcement+Learning  ' target='x')
      https://www.google.com/search?q=Alexander+Panin+Reinforcement+Learning
  