%h1 Links

%h2#class_links Classes
%ul
  %li MOOCs:

  %li
    %a(href='https://www.coursera.org/learn/practical-rl' target='x')
      https://www.coursera.org/learn/practical-rl

  %li
    %a(href='https://www.udemy.com/deep-reinforcement-learning-in-python/' target='x')
      https://www.udemy.com/deep-reinforcement-learning-in-python/
  
  %li
    %a(href='https://www.udacity.com/course/reinforcement-learning--ud600' target='x')
      https://www.udacity.com/course/reinforcement-learning--ud600  
  %li
    %a(href='https://www.edx.org/course/reinforcement-learning-explained-microsoft-dat257x' target='x')
      https://www.edx.org/course/reinforcement-learning-explained-microsoft-dat257x

  %li
    %a(href='https://www.coursera.org/learn/computational-neuroscience/lecture/dqF1z/8-2-reinforcement-learning-predicting-rewards' target='x')
      https://www.coursera.org/learn/computational-neuroscience/lecture/dqF1z/8-2-reinforcement-learning-predicting-rewards

  %li
    %a(href='https://www.coursera.org/learn/computational-neuroscience/lecture/ALVjz/8-3-reinforcement-learning-time-for-action' target='x')
      https://www.coursera.org/learn/computational-neuroscience/lecture/ALVjz/8-3-reinforcement-learning-time-for-action
  
  %li College:
  %li
    Some class material available, but not lectures:
    %br/
    Emma Brunskill, Stanford CS234
    %br/
    %a(href='http://web.stanford.edu/class/cs234/index.html' target='x')
      http://web.stanford.edu/class/cs234/index.html
  %li
    Sergey Levine, Berkeley RL course CS294:
    %br/
    %a(href='http://rll.berkeley.edu/deeprlcourse/' target='x')
      http://rll.berkeley.edu/deeprlcourse/
  %li
    David Silver [ DeepMind ]:
    %br/
    %a(href='http://www0.cs.ucl.ac.uk/staff/D.Silver/web/Teaching.html' target='x')
      http://www0.cs.ucl.ac.uk/staff/D.Silver/web/Teaching.html

  %li
    Deep Reinforcement Learning and Control
    %br/
    Spring 2017, CMU 10703, Fragkiadaki
    %br/
    %a(href='https://katefvision.github.io/' target='x')
      https://katefvision.github.io/
  
  %li
    2018, CMU 10703, Salakhutdinov
    %br/
    %a(href='http://www.cs.cmu.edu/~rsalakhu/10703/' target='x')
      http://www.cs.cmu.edu/~rsalakhu/10703/

  %li
    %a(href='https://homes.cs.washington.edu/~todorov/courses/amath579/index.html' target='x')
      https://homes.cs.washington.edu/~todorov/courses/amath579/index.html
  
  %li
    %a(href='http://www.cs.utexas.edu/~pstone/Courses/394Rfall16/' target='x')
      http://www.cs.utexas.edu/~pstone/Courses/394Rfall16/
  

%h2#online_books Online Books

%ul
  %li
    Algorithms for Reinforcement Learning, Szepesvári:
    %br/
    %a(href='http://www.ualberta.ca/~szepesva/papers/RLAlgsInMDPs.pdf' target='x')
      http://www.ualberta.ca/~szepesva/papers/RLAlgsInMDPs.pdf
  %li
    Reinforcement Learning: An Introduction, Sutton and Barto, 2nd Edition:
    %br/
    %a(href='http://incompleteideas.net/book/bookdraft2018jan1.pdf' target='x')
      http://incompleteideas.net/book/bookdraft2018jan1.pdf
  

%h2#books Books

%ul
  %li
    %a(href='https://www.amazon.com/Reinforcement-Learning-TensorFlow-Keras-Python/dp/1484232844' target='x')
      https://www.amazon.com/Reinforcement-Learning-TensorFlow-Keras-Python/dp/1484232844
  

%h2#repos Repos
%ul
  %li
    %a(href='https://github.com/matthiasplappert/keras-rl' target='x')
      https://github.com/matthiasplappert/keras-rl
  %li
    %a(href='https://github.com/matthiasplappert/keras-rl-weights' target='x')
      https://github.com/matthiasplappert/keras-rl-weights
  %li
    %a(href='https://github.com/spragunr/deep_q_rl  ' target='x')
      https://github.com/spragunr/deep_q_rl
  %li
    %a(href='https://github.com/openai/gym' target='x')
      https://github.com/openai/gym
  %li
    %a(href='https://github.com/openai/roboschool  ' target='x')
      https://github.com/openai/roboschool
  %li
    %a(href='https://github.com/openai/baselines' target='x')
      https://github.com/openai/baselines
  
  
%h2#misc Misc
%ul
  %li
    %a(href='http://keras-rl.readthedocs.io/en/latest/agents/overview/' target='x')
      http://keras-rl.readthedocs.io/en/latest/agents/overview/
  %li
    %a(href='https://deepmind.com/blog/deep-reinforcement-learning/' target='x')
      https://deepmind.com/blog/deep-reinforcement-learning/
  %li
    %a(href='http://www.aaai.org/ocs/index.php/IJCAI/IJCAI15/paper/view/11230/10741' target='x')
      http://www.aaai.org/ocs/index.php/IJCAI/IJCAI15/paper/view/11230/10741
  %li
    %a(href='https://gym.openai.com/docs/  ' target='x')
      https://gym.openai.com/docs/
  %li
    %a(href='https://github.com/openai/gym/wiki/FAQ' target='x')
      https://github.com/openai/gym/wiki/FAQ
  %li
    %a(href='https://arxiv.org/pdf/1606.01540.pdf  ' target='x')
      https://arxiv.org/pdf/1606.01540.pdf
  %li
    %a(href='https://readthedocs.web.cern.ch/display/MTA/6.+Machine+Learning+with+Python%2C+TensorFlow+and+OpenAI' target='x')
      https://readthedocs.web.cern.ch/display/MTA/6.+Machine+Learning+with+Python%2C+TensorFlow+and+OpenAI
  %li
    %a(href='https://pythonprogramming.net/openai-cartpole-neural-network-example-machine-learning-tutorial/' target='x')
      https://pythonprogramming.net/openai-cartpole-neural-network-example-machine-learning-tutorial/
  %li
    %a(href='http://deepatari.readthedocs.io/en/latest/help/install.html' target='x')
      http://deepatari.readthedocs.io/en/latest/help/install.html
  %li
    %a(href='https://steemit.com/ai/@sykochica/build-and-train-general-ai-in-openai-gym-initial-setup' target='x')
      https://steemit.com/ai/@sykochica/build-and-train-general-ai-in-openai-gym-initial-setup
  %li
    %a(href='https://alliseesolutions.wordpress.com/2016/12/08/openai-universe-installation-guide-ubuntu-16-04/' target='x')
      https://alliseesolutions.wordpress.com/2016/12/08/openai-universe-installation-guide-ubuntu-16-04/
  

%h2#software Software
%ul
  %li
    %a(href='https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh' target='x')
      https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh
  %li
    %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
      https://www.virtualbox.org/wiki/Downloads

%h2#communities Communities
%ul
  %li
    %a(href='https://www.reddit.com/r/berkeleydeeprlcourse' target='x')
      https://www.reddit.com/r/berkeleydeeprlcourse
  %li
    %a(href='https://gitter.im/keras-rl/Lobby  ' target='x')
      https://gitter.im/keras-rl/Lobby
  %li
    %a(href='https://groups.google.com/forum/#!forum/keras-rl-users  ' target='x')
      https://groups.google.com/forum/#!forum/keras-rl-users
  

%h2#videos Videos

%ul
  %li
    David Silver [ DeepMind ] Youtube videos:
    %br/
    %a(href='https://www.youtube.com/watch?v=2pWv7GOvuf0&list=PL7-jPKtc4r78-wCZcQn5IqyuWhBZ8fOxT' target='x')
      https://www.youtube.com/watch?v=2pWv7GOvuf0&list=PL7-jPKtc4r78-wCZcQn5IqyuWhBZ8fOxT
  
  %li
    Emma Brunskill Youtube videos
    %br/
    %a(href='https://www.youtube.com/watch?v=fIKkhoI1kF4' target='x')
      https://www.youtube.com/watch?v=fIKkhoI1kF4
    %br/
    %a(href='https://www.youtube.com/watch?v=8hK0NnG_DhY' target='x')
      https://www.youtube.com/watch?v=8hK0NnG_DhY
  %li
    Sergey Levine, Berkeley CS 294:
    %br/
    %a(href='https://www.youtube.com/playlist?list=PLkFD6_40KJIznC9CDbVTjAF2oyt8_VAe3' target='x')
      https://www.youtube.com/playlist?list=PLkFD6_40KJIznC9CDbVTjAF2oyt8_VAe3
  
