%h1 Links

%h2 Classes
%ul
  %li
    %a(href='https://www.coursera.org/learn/cryptocurrency' target='x')
      https://www.coursera.org/learn/cryptocurrency
  %li
    %a(href='https://crypto.stanford.edu/cs251/syllabus.html' target='x')
      https://crypto.stanford.edu/cs251/syllabus.html
  %li
    %a(href='http://crypto.stanford.edu/~dabo/cs255/' target='x')
      http://crypto.stanford.edu/~dabo/cs255/

%h2 Online Books

%ul
  %li
    %a(href='https://d28rh4a8wq0iu5.cloudfront.net/bitcointech/readings/princeton_bitcoin_book.pdf' target='x')
      princeton_bitcoin_book.pdf
  %li
    %a(href='https://crypto.stanford.edu/~dabo/cryptobook/BonehShoup_0_4.pdf' target='x')
      https://crypto.stanford.edu/~dabo/cryptobook/BonehShoup_0_4.pdf

  
