%h1 Links

%h2#class_links Classes
%ul
  %li
    %a(href='https://www.coursera.org/learn/cryptocurrency' target='x')
      https://www.coursera.org/learn/cryptocurrency
  %li
    %a(href='https://crypto.stanford.edu/cs251/syllabus.html' target='x')
      https://crypto.stanford.edu/cs251/syllabus.html
  %li
    %a(href='http://crypto.stanford.edu/~dabo/cs255/' target='x')
      http://crypto.stanford.edu/~dabo/cs255/

%h2#online_books Online Books

%ul
  %li
    %a(href='https://d28rh4a8wq0iu5.cloudfront.net/bitcointech/readings/princeton_bitcoin_book.pdf' target='x')
      princeton_bitcoin_book.pdf
  %li
    %a(href='https://crypto.stanford.edu/~dabo/cryptobook/BonehShoup_0_4.pdf' target='x')
      https://crypto.stanford.edu/~dabo/cryptobook/BonehShoup_0_4.pdf

%h2#books Books
%ul
  %li
    %a(href='http://bitcoinbook.cs.princeton.edu/' target='x')
      http://bitcoinbook.cs.princeton.edu/
  %li
    %a(href='https://www.bitcoinbook.info/' target='x')
      https://www.bitcoinbook.info/
  

%h2#repos Repos

%ul
  %li
    %a(href='https://github.com/keskival/cryptocurrency-course-materials/tree/master/assignment1' target='x')
      https://github.com/keskival/cryptocurrency-course-materials/tree/master/assignment1
  
  %li
    %a(href='https://github.com/msilb/coursera-cryptocurrency/tree/master/assignment-1-scroogecoin' target='x')
      https://github.com/msilb/coursera-cryptocurrency/tree/master/assignment-1-scroogecoin
  
  %li
    %a(href='https://github.com/bitcoinbook/bitcoinbook' target='x')
      https://github.com/bitcoinbook/bitcoinbook

  %li
    %a(href='https://github.com/gavinln/coursera-cryptocurrency' target='x')
      https://github.com/gavinln/coursera-cryptocurrency
  
  
%h2#misc Misc

%ul
  %li
    %a(href='https://cacm.acm.org/magazines/2017/12/223058-bitcoins-academic-pedigree/fulltext' target='x')
      https://cacm.acm.org/magazines/2017/12/223058-bitcoins-academic-pedigree/fulltext
      
  %li
    %a(href='http://igor.host/index.php/2017/12/15/programming-assignments-for-coursera-bitcoin-and-cryptocurrencies-technologies-course/' target='x')
      http://igor.host/index.php/2017/12/15/programming-assignments-for-coursera-bitcoin-and-cryptocurrencies-technologies-course/
    
%h2#software Software
%ul
    
  %li
    %a(href='https://download-cf.jetbrains.com/idea/ideaIC-2017.3.1-no-jdk.tar.gz' target='x')
      https://download-cf.jetbrains.com/idea/ideaIC-2017.3.1-no-jdk.tar.gz
      
  %li
    %a(href='http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html' target='x')
      http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html
      
  %li
    %a(href='https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh' target='x')
      https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh
  
  %li
    %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
      https://www.virtualbox.org/wiki/Downloads
    
  %li
    %a(href='https://www.py4j.org/' target='x')
      https://www.py4j.org/

%h2#communities Communities
%ul
  %li
    %a(href='https://groups.google.com/d/forum/cryp101' target='x')
      https://groups.google.com/d/forum/cryp101

%h2#videos Videos
%ul
  %li
    %a(href='https://youtu.be/fOMVZXLjKYo' target='x')
      https://youtu.be/fOMVZXLjKYo
      


  
