%h1 Links

%h2#class_links Classes
%ul
  %li
    Some class material available, but not lectures:
    %br/
    Emma Brunskill, Stanford CS234
    %br/
    %a(href='http://web.stanford.edu/class/cs234/index.html' target='x')
      http://web.stanford.edu/class/cs234/index.html
  %li
    Sergey Levine, Berkeley RL course CS294:
    %br/
    %a(href='http://rll.berkeley.edu/deeprlcourse/' target='x')
      http://rll.berkeley.edu/deeprlcourse/
  %li
    David Silver [ DeepMind ]:
    %br/
    %a(href='http://www0.cs.ucl.ac.uk/staff/D.Silver/web/Teaching.html' target='x')
      http://www0.cs.ucl.ac.uk/staff/D.Silver/web/Teaching.html
  
%h2#online_books Online Books

%ul
  %li
    Algorithms for Reinforcement Learning, Szepesvári:
    %br/
    %a(href='http://www.ualberta.ca/~szepesva/papers/RLAlgsInMDPs.pdf' target='x')
      http://www.ualberta.ca/~szepesva/papers/RLAlgsInMDPs.pdf
  %li
    Reinforcement Learning: An Introduction, Sutton and Barto, 2nd Edition:
    %br/
    %a(href='http://incompleteideas.net/book/bookdraft2018jan1.pdf' target='x')
      http://incompleteideas.net/book/bookdraft2018jan1.pdf
  

%h2#books Books
%ul
  %li
    %a(href='https://www.amazon.com/Reinforcement-Learning-TensorFlow-Keras-Python/dp/1484232844' target='x')
      https://www.amazon.com/Reinforcement-Learning-TensorFlow-Keras-Python/dp/1484232844
  

%h2#repos Repos

%ul
  %li
    %a(href='https://github.com/matthiasplappert/keras-rl' target='x')
      https://github.com/matthiasplappert/keras-rl
  

  
%h2#misc Misc

%ul
  %li
    %a(href='https://deepmind.com/blog/deep-reinforcement-learning/' target='x')
      https://deepmind.com/blog/deep-reinforcement-learning/
  %li
    %a(href='http://www.aaai.org/ocs/index.php/IJCAI/IJCAI15/paper/view/11230/10741' target='x')
      http://www.aaai.org/ocs/index.php/IJCAI/IJCAI15/paper/view/11230/10741
  

%h2#software Software
%ul
  %li
    %a(href='https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh' target='x')
      https://repo.continuum.io/archive/Anaconda3-5.0.1-Linux-x86_64.sh
  %li
    %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
      https://www.virtualbox.org/wiki/Downloads

%h2#communities Communities
%ul
  %li
    %a(href='https://www.reddit.com/r/berkeleydeeprlcourse' target='x')
      https://www.reddit.com/r/berkeleydeeprlcourse
  

%h2#videos Videos
%ul
  %li
    David Silver [ DeepMind ] Youtube videos:
    %br/
    %a(href='https://www.youtube.com/watch?v=2pWv7GOvuf0&list=PL7-jPKtc4r78-wCZcQn5IqyuWhBZ8fOxT' target='x')
      https://www.youtube.com/watch?v=2pWv7GOvuf0&list=PL7-jPKtc4r78-wCZcQn5IqyuWhBZ8fOxT
  
  %li
    Emma Brunskill Youtube videos
    %br/
    %a(href='https://www.youtube.com/watch?v=fIKkhoI1kF4' target='x')
      https://www.youtube.com/watch?v=fIKkhoI1kF4
    %br/
    %a(href='https://www.youtube.com/watch?v=8hK0NnG_DhY' target='x')
      https://www.youtube.com/watch?v=8hK0NnG_DhY
  %li
    Sergey Levine, Berkeley CS 294:
    %br/
    %a(href='https://www.youtube.com/playlist?list=PLkFD6_40KJIznC9CDbVTjAF2oyt8_VAe3' target='x')
      https://www.youtube.com/playlist?list=PLkFD6_40KJIznC9CDbVTjAF2oyt8_VAe3
  

