<code class='bash'>
In <a href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x'>dqn_cartpole.py</a>, Matthias issues three groups of import commands:

import numpy as np
import gym

from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from keras.optimizers import Adam

from rl.agents.dqn import DQNAgent
from rl.policy import BoltzmannQPolicy
from rl.memory import SequentialMemory

Perhaps the first group provides a foundation of capability.

Earlier I had cloned the gym package from <a href='https://github.com/openai/gym' target='x'>https://github.com/openai/gym</a>

So Locally, I can see files related to the gym package:

agent4@agent4:~ $ ll ~/gym/
total 108
drwxrwxr-x 11 agent4 agent4  4096 Jan 15 14:52 ./
drwxr-xr-x 29 agent4 agent4  4096 Jan 17 15:39 ../
drwxrwxr-x  2 agent4 agent4  4096 Jan 15 14:51 bin/
-rw-rw-r--  1 agent4 agent4   673 Jan 15 14:51 CODE_OF_CONDUCT.rst
-rw-rw-r--  1 agent4 agent4   940 Jan 15 14:51 Dockerfile
-rw-rw-r--  1 agent4 agent4     5 Jan 15 14:51 .dockerignore
drwxrwxr-x  2 agent4 agent4  4096 Jan 15 14:51 docs/
drwxrwxr-x  4 agent4 agent4  4096 Jan 15 14:51 examples/
drwxrwxr-x  8 agent4 agent4  4096 Jan 15 14:51 .git/
-rw-rw-r--  1 agent4 agent4   396 Jan 15 14:51 .gitignore
drwxrwxr-x 11 agent4 agent4  4096 Jan 15 14:52 gym/
drwxrwxr-x  2 agent4 agent4  4096 Jan 15 14:52 gym.egg-info/
-rw-rw-r--  1 agent4 agent4  1471 Jan 15 14:51 LICENSE.md
-rw-rw-r--  1 agent4 agent4   461 Jan 15 14:51 Makefile
drwxrwxr-x  2 agent4 agent4  4096 Jan 15 14:51 misc/
-rw-rw-r--  1 agent4 agent4 10949 Jan 15 14:51 README.rst
-rw-rw-r--  1 agent4 agent4    33 Jan 15 14:51 requirements_dev.txt
-rw-rw-r--  1 agent4 agent4    60 Jan 15 14:51 requirements.txt
drwxrwxr-x  2 agent4 agent4  4096 Jan 15 14:51 scripts/
-rw-rw-r--  1 agent4 agent4  1320 Jan 15 14:51 setup.py
-rw-rw-r--  1 agent4 agent4  1084 Jan 15 14:51 test.dockerfile
-rw-rw-r--  1 agent4 agent4   938 Jan 15 14:51 tox.ini
-rw-rw-r--  1 agent4 agent4  1631 Jan 15 14:51 .travis.yml
-rw-rw-r--  1 agent4 agent4   168 Jan 15 14:51 unittest.cfg
drwxrwxr-x  2 agent4 agent4  4096 Jan 15 14:51 vendor/
agent4@agent4:~ $ 
agent4@agent4:~ $ 



agent4@agent4:~ $ cd gym
agent4@agent4:~/gym $ git log -1
commit 0c91364cd4a7ea70f242a28b85c3aea2d74aa35a
Author: Ronald Eddy Jr <ronald_eddy@yahoo.com>
Date:   Mon Dec 25 12:09:01 2017 -0800

    Update Docs: HTTP -> HTTPS (#813)
    
    URLs updated to use HTTPS protocol where appropriate.
agent4@agent4:~/gym $ 
agent4@agent4:~/gym $ 
agent4@agent4:~/gym $



The above repo is connected to my installation of Anaconda via this file:

agent4@agent4:~ $ cat anaconda3/lib/python3.6/site-packages/gym.egg-link
/home/agent4/gym
.
agent4@agent4:~ $ 
agent4@agent4:~ $ 
agent4@agent4:~ $


A good resource to start learning about the gym repo is listed below:

<a href='https://gym.openai.com/docs/' target='x'>https://gym.openai.com/docs/</a>

Another repo in <a href='https://github.com/openai' target='x'>https://github.com/openai</a> which looks interesting is listed below:

<a href='https://github.com/openai/baselines' target='x'>https://github.com/openai/baselines</a>





The second group of imports in <a href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x'>dqn_cartpole.py</a> is familiar to me because I have used those imports
during my efforts to build Deep Learning models with Keras.

You should use the three URLs listed below as a starting place to learn about the above three keras imports:

<a href='https://www.google.com/search?q=keras+models+Sequential' target='x'>https://www.google.com/search?q=keras+models+Sequential</a>

<a href='https://www.google.com/search?q=keras+layers+Dense+Activation+Flatten' target='x'>https://www.google.com/search?q=keras+layers+Dense+Activation+Flatten</a>

<a href='https://www.google.com/search?q=keras+optimizers+Adam' target='x'>https://www.google.com/search?q=keras+optimizers+Adam</a>




The third group is new to me.

I know that it is made available by the <a href='https://github.com/matthiasplappert/keras-rl' target='x'>keras-rl</a> package.

I see installed locally:

agent4@agent4:~/anaconda3 $ ll lib/python3.6/site-packages/rl
total 112
drwxrwxr-x   4 agent4 agent4  4096 Jan 15 00:50 ./
drwxrwxr-x 323 agent4 agent4 20480 Jan 15 14:52 ../
drwxrwxr-x   3 agent4 agent4  4096 Jan 15 00:50 agents/
-rw-rw-r--   1 agent4 agent4 13959 Jan 15 00:50 callbacks.py
-rw-rw-r--   1 agent4 agent4 26308 Jan 15 00:50 core.py
-rw-rw-r--   1 agent4 agent4     0 Jan 15 00:50 __init__.py
-rw-rw-r--   1 agent4 agent4 10740 Jan 15 00:50 memory.py
-rw-rw-r--   1 agent4 agent4  6920 Jan 15 00:50 policy.py
-rw-rw-r--   1 agent4 agent4  2624 Jan 15 00:50 processors.py
drwxrwxr-x   2 agent4 agent4  4096 Jan 15 00:50 __pycache__/
-rw-rw-r--   1 agent4 agent4  2071 Jan 15 00:50 random.py
-rw-rw-r--   1 agent4 agent4  4476 Jan 15 00:50 util.py
agent4@agent4:~/anaconda3 $ 
agent4@agent4:~/anaconda3 $ 
agent4@agent4:~/anaconda3 $ 

I see it on github:

<a href='https://github.com/matthiasplappert/keras-rl' target='x'>https://github.com/matthiasplappert/keras-rl</a>

I see it on read the docs site:

<a href='http://keras-rl.readthedocs.io/en/latest/core/' target='x'>http://keras-rl.readthedocs.io/en/latest/core/</a>
</code>
