%h1
  Answer questions about some API calls in
  %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py

%ul
  %li
    Where do I find
    %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py?
  %li
    .syntax
      %pre
        =render 'class01ansqu10'
        
  %li
    Can you describe a use-case solved by
    %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py?
  %li
    .syntax
      %pre
        =render 'class01ansqu12'

  %li
    Can you describe the imports at the top of
    %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py?
  %li
    .syntax
      %pre
        =render 'class01ansqu14'

  %li
    After the imports, I see a small group of syntax:
    .syntax
      %pre
        =render 'class01ansqu16'
  %li What does that syntax do?
  %li 
    .syntax
      %pre
        =render 'class01ansqu18'
  %li
    %a(href='https://www.google.com/search?q=In+Reinforcement+Learning,+What+is+an+Episode' target='x')
      https://www.google.com/search?q=In+Reinforcement+Learning,+What+is+an+Episode
  %li 
    .syntax
      %pre
        %code
          An example of an episode is one chess match.
          For the cart-pole demo an episode will end in a variety of ways, for example if the pole falls over.
          More info:
          %a(href='https://stats.stackexchange.com/questions/250943/what-is-the-difference-between-episode-and-epoch-in-deep-q-learning' target='x')
            https://stats.stackexchange.com/questions/250943/what-is-the-difference-between-episode-and-epoch-in-deep-q-learning
          %a(href='https://www.quora.com/What-does-the-term-%E2%80%9Cepisode%E2%80%9D-mean-in-the-context-of-reinforcement-learning-RL' target='x')
            https://www.quora.com/What-does-the-term-%E2%80%9Cepisode%E2%80%9D-mean-in-the-context-of-reinforcement-learning-RL
  

  %li
    Returning my attention to:
    %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py
    I step into this call with the pdb-debugger:
    .syntax
      %pre
        %code.python env.seed(123)
    .syntax
      %pre
        =render 'class01ansqu20'
    So, that call: "Sets the seed for this env's random number generator(s)."
  
%p Plain text format:

.syntax
  %pre
    =render 'class01ansqu1'

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/


  
