%h1 Class01A

%p This class is under construction.
%hr/

%p This class summarizes concepts presented in a video lecture:

%a(href='https://youtu.be/fOMVZXLjKYo' target='x')
  https://youtu.be/fOMVZXLjKYo

%p Obviously the above video is on youtube.com but also it is inside Coursera:

%p
  %a(href='https://www.coursera.org/learn/cryptocurrency' target='x')
    https://www.coursera.org/learn/cryptocurrency
    
%p
  Coursera is inspiration for some of the structure behind this site:
  %a(href='/' target='x')
    cryp4.us
  
 
%p You do not need to actually watch the video.

%p Most of the things you need to remember from the video are listed on the page before you.

%p Additionally this page offers you exercises.

%p If you do or enhance the exercises, you will encounter a learning experience which is more effective than just watching the video.

%hr/

%h2#top Concepts/Topics
%ul
  %li
    %a(href='#hash_function')      Hash Function
  %li
    %a(href='#cryp_hash_function') Cryptographic Hash Function

%hr/

%h3#hash_function Hash Function

%p q: What is a Hash Function?

%p
  %a(href='https://www.google.com/search?q=What+is+a+hash+function?' target='x')
    https://www.google.com/search?q=What+is+a+hash+function?
    
%p.p_dark_green
  Code Exercise:
  %br/
  Create a hash function (not a cryptographic hash function) which accepts a string and outputs a string of 256 bits.

%p Solution-Idea:
%ul
  %li Get the input string, input_s
  %li Maybe the string is too short
  %li add a 256 bit string to end of input_s 
  %li return first 256 bits of input_s

%p Python Solution

.syntax
  %pre
    =render 'class01A10'

%p Python Output

.syntax
  %pre
    =render 'class01A11'
  
%p Java Solution

%p I present the Java Solution using an idea called "Outside-In".

%p The "Outside" is a shell script, hash01j.bash, which compiles a Java file.
%p Then the shell script runs a Java-class file.
%p I created a shell script which looks like the script below:

.syntax
  %pre
    =render 'class01A12'
    
%p I placed the above script in this folder:
.syntax
  %pre
    %code ~/cryp4/public/class01A/
    
%p Now that the "Outside" is done, I can create the "Inside" which in this case is a simple Java-file.

%p On my laptop I created Java-file named Main.java and I placed it in a folder below the shell script:

.syntax
  %pre
    %code ~/cryp4/public/class01A/src/us/cryp4/Main.java

%p Some beginners will be confused about proper folder structure of Java-apps.

%p After working with Java for a few days, a beginner will develop a sense for how to design a folder structure for a Java-app.

%p If you are a beginner it is wise to find a Java tutor who can guide you for a day or two while you learn through trial and error.

%p Another option is to find video training content.

%p For this Java-app, I placed hash01j.bash in
.syntax
  %pre
    %code ~/cryp4/public/class01A/
%p And I placed Main.java in
.syntax
  %pre
    %code ~/cryp4/public/class01A/src/us/cryp4/
    
%p Note that if a Java-app contains a package declaration, then that declaration will offer a small clue about proper folder structure.

%p If you study Main.java below you will see a package declaration:

.syntax
  %pre
    =render 'class01A13'

%p I used hash01j.bash to compile and run the above Java-file:

.syntax
  %pre
    =render 'class01A14'

%p When I compare Java to Python as a software based mechanism to learn Cryptocurrency technology, Python is a clear winner.

%p Python is easy to operate yet just as capable as Java.

%a(href='#top') Top

%hr/

%h3#cryp_hash_function Cryptographic Hash Function

%p q: What is a Cryptographic Hash Function?

%p
  %a(href='https://www.google.com/search?q=What+Is+A+Cryptographic+Hash+Function?' target='x')
    https://www.google.com/search?q=What+Is+A+Cryptographic+Hash+Function?

%p.p_dark_green
  Code Exercise:
  %br/
  Operate a popular Python implementation of a Cryptographic Hash Function.

%p Solution 1

.syntax
  %pre
    =render 'class01A14a'

%p Solution 2

.syntax
  %pre
    =render 'class01A15'

%p Output 2

.syntax
  %pre.sbar999
    =render 'class01A16'
  

%hr/
