%h1 Class01

%p This class is under construction.

%ul
  %li Class steps:
  %li Import a virtualbox
  %li Verify Anaconda installation
  %li Install keras
  %li Install keras-rl
  %li Install openai-gym
  %li Run the demo
  %li Explain the demo
  %li Answer questions about some API calls in dqn_cartpole.py
  
%hr/
