%h1 Install Virtualbox Software

%p I did this lab and it was easy.

%p I downloaded VirtualBox Software from this URL:

%p
  %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
    https://www.virtualbox.org/wiki/Downloads

%p After I downloaded it I just followed the installation instructions; they were easy to understand.

%p If you are on a windows host, you probably need to enable Virtualization:

%ul
  %li
    %a(href='https://www.google.com/search?q=On+Windows+How+To+Enable+Virtualization' target='x')
      https://www.google.com/search?q=On+Windows+How+To+Enable+Virtualization
  %li
    %a(href='https://www.google.com/search?tbm=vid&q=On+Windows+How+To+Enable+Virtualization' target='x')
      https://www.google.com/search?tbm=vid&q=On+Windows+How+To+Enable+Virtualization
  

%a(href="/cclasses/class01#invbs") Class01
