%h1 Class01

%p This class is under construction.

%p One idea I often follow when I teach is: "Lab First", "Lecture Second".

%p By "Lab First" I mean that I give you a presentation on how I do the Lab.

%p After that presentation, you should have an opinion about your ability to benefit from this class.

%p Then, I expect you to learn enough from that presentation that you can do the Lab.

%p After you have done the Lab, you will be ready for either Homework or Lecture.

%p Sometimes my Lecture is just a presentation of me doing the Homework exercises.

%p Then your Homework is trying to remember enough from both the Lab and my presentations to do the Homework exercises.

%h2 You should do this Lab:
  
%ul
  %li Lab steps:
  %li#invbs Install VirtualBox Software
  %li
    %a(href='/cclasses/class01invbs') Answer
    %hr/
  %li#obtvb Obtain VirtualBox Appliance
  %li
    %a(href='/cclasses/class01obtvb') Answer
    %hr/
  %li#impvb Import VirtualBox Appliance
  %li
    %a(href='/cclasses/class01impvb') Answer
    %hr/
  %li#lga4a Login to a4 account
  %li
    %a(href='/cclasses/class01lga4a') Answer
    %hr/
  %li#veran Verify Anaconda installation
  %li
    %a(href='/cclasses/class01veran') Answer
    %hr/
  %li#inker Install Keras
  %li
    %a(href='/cclasses/class01inker') Answer
    %hr/
  %li#inkrl Install keras-rl
  %li
    %a(href='/cclasses/class01inkrl') Answer
    %hr/
  %li#ingym Install openai-gym
  %li
    %a(href='/cclasses/class01ingym') Answer
    %hr/
  %li#rundm Run the Cart-Pole demo
  %li
    %a(href='/cclasses/class01rundm') Answer
    %hr/
  %li#expdm Explain the Cart-Pole demo
  %li#ansqu Answer questions about some API calls in dqn_cartpole.py
  
%hr/
