%h1 Install openai-gym

%p I did this lab and it was easy.

%p I issued some simple shell commands:

.syntax
  %pre
    %code.bash
      cd ~
      git clone https://github.com/openai/gym.git
      cd gym
      pip install -e .

%p I saw this:

.syntax
  %pre
    =render 'class01ingym1'

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/
