%h1 Class02

%p This class is under construction.

%p The previous class focused on understanding some ideas behind %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py.

%p This class should help you get a better understanding of openai-gym software.

%hr/
