%h1 Class01B

%p This class is under construction.
%hr/


%h2#top Concepts/Topics
%ul
  %li
    %a(href='#linked_list') Linked List

%hr/
%h3#linked_list Linked List

%p q: What is a Linked List?

%p
  %a(href='https://www.google.com/search?q=What+is+a+Linked+List?' target='x')
    https://www.google.com/search?q=What+is+a+Linked+List?

%p.p_dark_green
  Code Exercise:
  %br/
  With Python, create a Linked List.
    
.syntax
  %pre
    =render 'class01B10'

%p I ran the above script and captured output:
 
.syntax
  %pre.sbar999
    =render 'class01B12'

%a(href='#top') Top
%hr/
