%h1 Class01A

%p This class is under construction.
%hr/

%p This class summarizes concepts presented in a video lecture:

%a(href='https://youtu.be/fOMVZXLjKYo' target='x')
  https://youtu.be/fOMVZXLjKYo

%p Obviously the above video is on youtube.com but also it is inside Coursera:

%p
  %a(href='https://www.coursera.org/learn/cryptocurrency' target='x')
    https://www.coursera.org/learn/cryptocurrency
    
%p
  Coursera is inspiration for some of the structure behind this site:
  %a(href='/' target='x')
    cryp4.us
  
 
%p You do not need to actually watch the video.

%p Most of the things you need to remember from the video are listed on the page before you.

%p Additionally this page offers you exercises.

%p If you do or enhance the exercises, you will encounter a learning experience which is more effective than just watching the video.

%hr/

%h2 Concepts/Topics

%h3 - Hash Function

%p q: What is a hash function?

%p
  %a(href='https://www.google.com/search?q=What+is+a+hash+function?' target='x')
    https://www.google.com/search?q=What+is+a+hash+function?
    
%p Ex: Create a hash function (not a cryptographic hash function) which accepts a string and outputs a string of 256 bits.

%p Solution-Idea:
%ul
  %li Get the input string, input_s
  %li Maybe the string is too short
  %li add a 256 bit string to end of input_s 
  %li return first 256 bits of input_s

%p Python Solution

.syntax
  %pre
    =render 'class01A10'
  
%hr/
