%h1 Install VirtualBox Software

%p I did this lab and it was easy.

%p I downloaded VirtualBox Software from this URL:

%p
  %a(href='https://www.virtualbox.org/wiki/Downloads' target='x')
    https://www.virtualbox.org/wiki/Downloads

%p After I downloaded it I just followed the installation instructions; they were easy to understand.

%p If you are on a windows host, you probably need to enable Virtualization:

%ul
  %li
    %a(href='https://www.google.com/search?q=On+Windows+How+To+Enable+Virtualization' target='x')
      https://www.google.com/search?q=On+Windows+How+To+Enable+Virtualization
  %li
    %a(href='https://www.google.com/search?tbm=vid&q=On+Windows+How+To+Enable+Virtualization' target='x')
      https://www.google.com/search?tbm=vid&q=On+Windows+How+To+Enable+Virtualization
  
%p Why install VirtualBox software?

%p If you have VirtualBox software installed on your laptop, I can give you a copy of my training environment.

%p Then, I can ask you to use that environment for your homework.

%p If you have problems with the homework, it is easier for me to help you if you are using my training environment.

%p If you are in a class full of students and they all use the same training environment, it is easier for them to help each other.

%p Also you can study the training environment I give you which will help you setup your future training environments.

%p Another feature of VirtualBox is you can easily backup your work.

%p You just shutdown your VirtualBox and export it to an OVA file on an external USB drive.

%p Also you can backup that OVA file to a web-service like AWS-S3 or Google-Drive.

%p Then if you lose your laptop, just buy another one and restore your VirtualBox.

%p What if I do not want to use VirtualBox?

%p If you can get Anaconda 5.0.1 running on your laptop, you should be able to do many exercises in this class.

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/
