%h1 Import VirtualBox Appliance

%p If you are on Mac or Linux Laptop it is easy to import a VirtualBox Appliance.

%p If you are on windows, be ready for problems.

%p I imported a VirtualBox Appliance into my laptop.

%p I collected a series of screenshots.

%p Your import efforts should somewhat match the screenshots.

%hr/
%p I should see an orange box.
%p If I see a white box, VirtualBox is probably not installed:
%img(src='/class01/iv10.png')
%hr/
%p I should click the orange box and I should see something like this:
%img(src='/class01/iv11.png')
%hr/
%p I should press Import-button:
%img(src='/class01/iv12.png')
%hr/
%img(src='/class01/iv13.png')
%hr/
%p I should see a new appliance in the VirtualBox Manager:
%img(src='/class01/iv14.png')
%hr/
%p I should click yellow-settings button.
%p I should study most of the settings:
%img(src='/class01/iv15.png')
%hr/
%img(src='/class01/iv16.png')
%hr/
%img(src='/class01/iv17.png')
%hr/
%img(src='/class01/iv18.png')
%hr/
%img(src='/class01/iv20.png')
%hr/
%img(src='/class01/iv22.png')
%hr/
%img(src='/class01/iv24.png')
%hr/
%img(src='/class01/iv26.png')
%hr/
%img(src='/class01/iv28.png')
%hr/
%img(src='/class01/iv30.png')
%hr/
%img(src='/class01/iv32.png')
%hr/
%img(src='/class01/iv34.png')
%hr/
%p I should click the Start-button:
%img(src='/class01/iv36.png')
%hr/
%p I should give it the password which is: "a"
%img(src='/class01/iv40.png')
%hr/
%img(src='/class01/iv42.png')
%hr/
%p I should SINGLE-CLICK the Emacs icon on the left:
%img(src='/class01/iv44.png')
%hr/
%p I should start a shell inside Emacs:
%img(src='/class01/iv46.png')
%hr/

%p I did the above steps on my laptop and encountered no problems.

%p Perhaps you will have good luck too.

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/

