%h1
  Answer questions about some API calls in
  %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py

%ul
  %li
    Where do I find
    %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py?
  %li
    .syntax
      %pre
        =render 'class01ansqu10'
	
  %li
    Can you describe a use-case solved by
    %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py?
  %li
    .syntax
      %pre
        =render 'class01ansqu12'

  %li
    Can you describe the imports at the top of
    %a(href='https://github.com/matthiasplappert/keras-rl/blob/master/examples/dqn_cartpole.py' target='x') dqn_cartpole.py?
  %li
    .syntax
      %pre
        =render 'class01ansqu14'

  %li
    After the imports, I see a small group of syntax:
    .syntax
      %pre
        =render 'class01ansqu16'
  %li What does that syntax do?
  
%p Plain text format:

.syntax
  %pre
    =render 'class01ansqu1'

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/


  
