%h1 Class01A

%p This class is under construction.
%hr/

%p This class summarizes concepts presented in a video lecture:

%a(href='https://youtu.be/fOMVZXLjKYo' target='x')
  https://youtu.be/fOMVZXLjKYo

%p Obviously the above video is on youtube.com but also it is inside Coursera:

%p
  %a(href='https://www.coursera.org/learn/cryptocurrency' target='x')
    https://www.coursera.org/learn/cryptocurrency
    
%p
  Coursera motivates some of the structure behind this site:
  %a(href='/' target='x')
    cryp4.us
  
 
%p You don't need to actually watch the video.

%p Most of the things you need to remember from the video are listed in this page.

%p Additionally this page offers you exercises.

%p If you do or enhance the exercises, you will encounter a learning experience which is more effective than just watching the video.

%h2 Concepts/Topics



%hr/
