%h1 Import VirtualBox Appliance

%p If you are on Mac or Linux Laptop it is easy to import a VirtualBox Appliance.

%p If you are on windows, be ready for problems.

%p I imported a VirtualBox Appliance into my laptop.

%p I collected a series of screenshots.

%p Your import efforts should somewhat match the screenshots.





%a(href="/cclasses/class01#invbs") Lab Steps
%hr/

