%h1 Run the Cart-Pole demo

%p This demo was suggested by the README.md of the keras-rl repo:

%p
  %a(href='https://github.com/matthiasplappert/keras-rl#how-do-i-install-it-and-how-do-i-get-started' target='x')
    https://github.com/matthiasplappert/keras-rl#how-do-i-install-it-and-how-do-i-get-started

%p I ran some shell commands:

.syntax
  %pre
    %code.bash
      git clone https://github.com/matthiasplappert/keras-rl
      cd keras-rl
      python examples/dqn_cartpole.py

%p I saw this:

.syntax
  %pre
    =render 'class01rundm1'

%img(src='/class01/cartpole1.png')
%br/

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/
