%h1 Login to a4 account

%p For me this step was easy; I just type "a" as password in the login screen:

%img(src='/class01/iv40.png')
%hr/

%p When I created this VirtualBox appliance for you, I configured it so that port 4422 is forwarded to port 22 on the guest:

%img(src='/class01/iv32.png')
%hr/

%p So, another way to login is from the VirtualBox-host into the VirtualBox-guest using ssh:

%img(src='/class01/lg10.png')
%hr/

%p Now, I can run an editor on the guest but display it on the host:

%img(src='/class01/lg12.png')
%hr/

%p The above technique allows me to run an editor, Emacs for example, inside the VirtualBox-guest and display it on the host where the keyboard and mouse might behave better.

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/



