%h1 Run the Cart-Pole demo

%p This demo was suggested by the README.md of the keras-rl repo:

%p
  %a(href='https://github.com/matthiasplappert/keras-rl#how-do-i-install-it-and-how-do-i-get-started' target='x')
    https://github.com/matthiasplappert/keras-rl#how-do-i-install-it-and-how-do-i-get-started

%p I ran some shell commands:

.syntax
  %pre
    %code.bash
      git clone https://github.com/matthiasplappert/keras-rl
      cd keras-rl
      python examples/dqn_cartpole.py

%p I saw this:

.syntax
  %pre
    =render 'class01rundm1'

%img(src='/class01/cartpole1.png')
%br/

%p I found a description of the demo:

%p
  %a(href='https://gym.openai.com/envs/CartPole-v0/' target='x')
    https://gym.openai.com/envs/CartPole-v0/

%p I copy from the above link:

.syntax
  %pre
    %code
      A pole is attached by an un-actuated joint to a cart, which moves
      along a frictionless track. The system is controlled by applying a
      force of +1 or -1 to the cart. The pendulum starts upright, and the
      goal is to prevent it from falling over. A reward of +1 is provided
      for every timestep that the pole remains upright. The episode ends
      when the pole is more than 15 degrees from vertical, or the cart moves
      more than 2.4 units from the center.

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/
