%h1 Answer questions about some API calls in dqn_cartpole.py

%ul
  %li Where do I find dqn_cartpole.py?
  %li
    .syntax
      %pre
        =render 'class01ansqu10'
  %li Can you describe a use-case solved by dqn_cartpole.py?
  %li
    .syntax
      %pre
        =render 'class01ansqu12'

%p Plain text format:

.syntax
  %pre
    =render 'class01ansqu1'

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/
