%h1 Install keras-rl

%p I did this lab; it was easy.

%p First, I tried to install keras-rl with conda but that failed.

%p So, I use the pip-shell command listed by the author:

.syntax
  %pre
    %code.bash pip install keras-rl

%p I saw this:

.syntax
  %pre
    =render 'class01inkrl1'
