%h1 Obtain VirtualBox Appliance

%p It is easy to download the VirtualBox Appliance for this class.

%p Just download it via the link listed below:

%p
  %a(href='https://drive.google.com/file/d/1fb5N_FqCYb4Z6dTtBT4ETDVI8J7XzFyd' target='x')
    a4_2018_0115.ova

%a(href="/cclasses/class01#invbs") Lab Steps
%hr/

