%a(href='/') cryp4.us
|
%a(href='/about') About
%a(href='/blog') Blog
%a(href='/contact') Contact
%a(href='/home/links') Links
|
%a(href='/cclasses/class01A') Class01A
%a(href='/cclasses/class01B') Class01B
